@model IEnumerable<string>

<div class="d-grid gap-2">
    @foreach (var s in Model)
    {
        <a class="btn @(s == ViewBag.Selected ? "btn-primary" : "btn-secondary")"
           asp-controller="Games"
           asp-action="Index"
           asp-route-genre="@s">
            @s.ToUpper()
        </a>
    }
</div>