@model IEnumerable<Game>
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<div class="container">
    <form method="get">
        <select asp-items=""></select>
    </form>
    <ul class="list-group">
        @foreach (var game in Model)
        {
            <li class="list-group-item">
                <partial name="_ProductSummary" model="game"/>
            </li>
        }
    </ul>
</div>