@model GamesViewModel
@{
    ViewData["Title"] = "Games";
}


<div class="container row">
    @* Menu *@
    <div class="col-2 mb-2">
        <div class="row dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">@(Model.GameGenre ?? "Genres")</button>
            <ul class="dropdown-menu">
                @foreach (var genre in Model.GenresSelectList)
                {
                    <li>
                        <a asp-action="Index" asp-route-gameGenre="@genre.Value" class="dropdown-item">@genre.Value</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="col">
        @if (Model.GameGenre == null)
        {
            <h1>Games</h1>
        }
        else
        {
            <h1>@Model.GameGenre</h1>
        }
        <ul class="list-group">
            @foreach (var game in Model.Games)
            {
                <li class="list-group-item">
                    <partial name="_ProductSummary" model="game"/>
                </li>
            }
        </ul>
    </div>
</div>