@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}


<div class="m-1 p-1">
    <div class="text-danger" asp-validation-summary="All"></div>

    <form asp-action="Register" method="post">
        <input type="hidden" asp-for="ReturnUrl">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@exmaple.com" asp-for="UserName">
            <label asp-for="UserName">Email Address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
            <label asp-for="Password">Password</label>
        </div>

        <div class="mt-5 d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>

</div>