@model Cart

<div>
    <a class="text-black text-decoration-none"
       asp-controller="Order"
       asp-action="Cart"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <div class="nav-link btn btn-link text-dark border-0 text-start">Your Cart</div>
        @if (Model.CartItems.Any())
        {
            <div>
                @Model?.CartItems.Sum(x => x.Quantity) items @Model?.ComputeTotalValue().ToString("C")
            </div>
        }
        @* asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"> *@
        @* <i class="fa fa-shopping-cart"></i> *@
    </a>
</div>